{% extends 'base.html' %}

{% block content %}

    {% if is_owner %}
        <p>Владелец</p>
        <div class="d-flex justify-content-center">

        
            <div class="card w-75 text-center ">
                <div class="card-header">
                    Добавление NFT
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="input-group mb-2">
                            <input name="title" class="form-control" type="text" placeholder="Название" aria-label="title">
                            <input name="description" class="form-control" type="text" placeholder="описание" aria-label="title">
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text">PROFI</span>
                            <input name="cost" type="text" class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <label for="formFile" class="form-label"></label>
                            <input name="image" class="form-control" type="file" id="formFile" accept="image/*">
                        </div>
                        
                        <input name="count" class="form-control" type="number" placeholder="Количество" aria-label="Количество">

                        <button type="submit" class="btn btn-primary mt-2">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    {% elif session['public_key'] %}
        <p>Авторизованный</p>
    {% else %}
        <p>Не авторизованный</p>
    {% endif %}
{% endblock %}
